body {
    font-family: "Playfair", sans-serif;
    font-weight: 300;
    margin: 0;
    font-size: 16px;
}
/* header stuff here */
header {
    font-family: 'Roslindale', cursive;
    padding: 1rem 2vw;
    font-weight: 100;
}
header span {
    margin: 0;
    color: #913a21;
    font-size: 1.6rem;
    font-weight: 900;
}
header p {
    font-family: 'Playfair', sans-serif;
    margin: 0;
    color: #b64e11;
    font-size: 1.22rem;
}

/* navigation stuff here */
nav {
    background-color: #3d5971;
}
nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: #e5e6e0;
    font-weight: 900;
}

nav .active a {
    background-color: #cda995;
    color: #2d201a;
}
nav a:hover {
    background-color: #95732c;
}


/* main stuff here */
main {
    padding: 1rem 2vw;
    background-color: #e5e6e0;
}

main h1 {
    font-family: 'Roslindale';
    color: #913a21;
    font-size: 2rem;
    margin: .5rem 0 .8rem 0;
}
main h2 {
    color: #024873;
    margin-bottom: .2rem;
}
main p {
    margin: 0;
    color: #070805;
    line-height: 150%;
}

main ol {
    padding: .5rem 30px;
    background-color: #efefef;
}
main dl dt {
    color: #913a21;
    font-weight: 900;
    margin-top: 1rem;
}
main dl dd {
    color: #024873;
    font-size: .9rem;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main strong {
    color: #b64e11;
}

main a {
    color: #b44f12;
}
main a:hover {
    background-color:#eee;
}
/* image stuff here */
figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}

figure.wrapped img{
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}
div.gallery figure {
    margin: .5rem 2% 0 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    padding: 1rem 0;
}

/* footer stuff here */
footer {
    border-top: solid #ccc 2px;
    text-align: center;
    color: #024873;
    font-size: .7rem;
    padding: 1rem 0;
    background-color: #cda995;

}
footer a {
    color: #024873;
}